@import url("https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata|Muli");
*,
h2 {
  font-family: Comfortaa;
}
h5 {
  font-family: Comfortaa !important;
}
button {
  font-family: Muli;
}
code,
pre,
.hljs * {
  font-family: Inconsolata !important;
}
.emoji {
  height: 24px;
  width: 24px;
}
.emoji.jumboable {
  height: 48px;
  width: 48px;
}
.user-popout .body .notes .note textarea,
.user-popout .footer .quick-message-wrapper .quick-message,
#user-profile-modal .guilds .section .note textarea,
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) input,
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner textarea {
  color: rgba(255,255,255,0.5);
  transition: background 0.2s, color 0.2s;
}
.user-popout .body .notes .note textarea:focus,
.user-popout .footer .quick-message-wrapper .quick-message:focus,
#user-profile-modal .guilds .section .note textarea:focus,
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) input:focus,
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner textarea:focus {
  background: rgba(0,0,0,0.5);
  color: #fff;
}
.user-popout .body .notes .note textarea:focus::-webkit-input-placeholder,
.user-popout .footer .quick-message-wrapper .quick-message:focus::-webkit-input-placeholder,
#user-profile-modal .guilds .section .note textarea:focus::-webkit-input-placeholder,
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) input:focus::-webkit-input-placeholder,
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner textarea:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}
.user-popout .body .notes .note textarea::-webkit-input-placeholder,
.user-popout .footer .quick-message-wrapper .quick-message::-webkit-input-placeholder,
#user-profile-modal .guilds .section .note textarea::-webkit-input-placeholder,
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) input::-webkit-input-placeholder,
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
  transition: color 0.2s;
}
/* User Popout */
.theme-dark .popout {
  box-shadow: none;
}
.user-popout {
  border-radius: 25px;
}
.user-popout .header,
.user-popout .body,
.user-popout .footer {
  background: #39456d;
}
.user-popout .header .avatar-wrapper .avatar-popout {
  border: none;
  background-color: #39456d;
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
  margin-left: -113px;
  margin-top: -10px;
  transition: box-shadow 0.2s;
}
.user-popout .header .avatar-wrapper .avatar-popout .status {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  box-shadow: none;
  left: -113px;
  top: -10px;
  background: transparent;
}
.user-popout .header .avatar-wrapper .avatar-popout .status.status-online {
  border: solid 3px #43b581;
}
.user-popout .header .avatar-wrapper .avatar-popout .status.status-idle {
  border: solid 3px #faa61a;
}
.user-popout .header .avatar-wrapper .avatar-popout .status.status-dnd {
  border: solid 3px #f04747;
}
.user-popout .header .avatar-wrapper .avatar-popout .status.status-offline {
  border: solid 3px #747f8d;
}
.user-popout .header .avatar-wrapper .avatar-popout:hover {
  box-shadow: inset 0 0 25px 5px #212121;
}
.user-popout .header .avatar-wrapper .avatar-hint {
  display: none;
}
.user-popout .header .username-wrapper:not(.has-nickname) .discord-tag {
  margin-top: -46px;
  text-align: left;
  padding-left: 69px;
}
.user-popout .header .username-wrapper:not(.has-nickname) .discord-tag .username {
  color: #fff;
}
.user-popout .header .username-wrapper:not(.has-nickname) .discord-tag .discriminator {
  color: rgba(255,255,255,0.75);
}
.user-popout .header .username-wrapper:not(.has-nickname) .activity {
  text-align: left;
  margin-left: 12px;
  margin-right: 24px;
  margin-top: 19px;
  visibility: hidden;
  letter-spacing: -8px;
  color: rgba(255,255,255,0.75);
}
.user-popout .header .username-wrapper:not(.has-nickname) .activity strong {
  visibility: visible;
  letter-spacing: 0px;
}
.user-popout .header .username-wrapper:not(.has-nickname) .activity strong::before {
  content: 'Playing - ';
}
.user-popout .header .username-wrapper.has-nickname .nickname {
  margin-top: -53px;
  text-align: left;
  padding-left: 69px;
  color: #fff;
}
.user-popout .header .username-wrapper.has-nickname .discord-tag {
  text-align: left;
  padding-left: 69px;
  margin-top: -10px;
}
.user-popout .header .username-wrapper.has-nickname .discord-tag .username {
  color: rgba(255,255,255,0.75);
}
.user-popout .header .username-wrapper.has-nickname .discord-tag .discriminator {
  color: rgba(255,255,255,0.5);
}
.user-popout .header .username-wrapper.has-nickname .activity {
  text-align: left;
  margin-left: 12px;
  margin-right: 24px;
  margin-top: 6px;
  visibility: hidden;
  letter-spacing: -8px;
  color: rgba(255,255,255,0.75);
}
.user-popout .header .username-wrapper.has-nickname .activity strong {
  visibility: visible;
  letter-spacing: 0px;
}
.user-popout .header .username-wrapper.has-nickname .activity strong::before {
  content: 'Playing - ';
}
.user-popout .body .notes .label {
  color: #fff;
}
.user-popout .body .notes .label .icon {
  display: none;
}
.user-popout .body .roles .label {
  color: #fff;
}
.user-popout .body .roles .label .icon {
  display: none;
}
.user-popout .body .roles .member-roles .member-role:not(.member-role-add) {
  background: #232323;
  border: none !important;
  border-radius: 50px;
  color: #fff;
}
.user-popout .body .roles .member-roles .member-role:not(.member-role-add) button {
  filter: brightness(200%);
}
.user-popout .body .roles .member-roles .member-role.member-role-add {
  background: #232323;
  border: none;
  border-radius: 50px;
}
.user-popout .body .roles .member-roles .member-role.member-role-add button {
  filter: brightness(200%);
}
.user-popout .footer {
  border: none;
}
.user-popout .footer .quick-message-wrapper .quick-message {
  background: rgba(0,0,0,0.25);
  border: none;
  border-radius: 50px;
  font-family: Muli;
}
.user-popout .footer .update-notice {
  display: none;
}
/* Profile Modal */
#user-profile-modal {
  border-radius: 50px;
}
#user-profile-modal .header,
#user-profile-modal .header::after,
#user-profile-modal .tab-bar-container,
#user-profile-modal .scroller-wrap .guilds,
#user-profile-modal .empty,
#user-profile-modal .avatar-wrapper {
  background: #2e2e2e;
}
#user-profile-modal .header .header-info .header-info-inner {
  margin-left: -187px;
  margin-bottom: -3px;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .username {
  color: #fff;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
  color: rgba(255,255,255,0.75);
}
#user-profile-modal .header .header-info .header-info-inner .activity {
  color: rgba(255,255,255,0.75);
}
#user-profile-modal .header .header-info .profile-badge.badge-partner {
  margin-bottom: -105px;
  margin-left: -187px;
}
#user-profile-modal .header .header-info .profile-badge.badge-premium,
#user-profile-modal .header .header-info .profile-badge.badge-staff {
  margin-bottom: -85px;
  margin-left: -187px;
}
#user-profile-modal .header .header-info .profile-badge ~ .header-info-inner {
  margin-left: -50px;
  margin-bottom: -3px;
}
#user-profile-modal .header .header-info .profile-badge.badge-premium ~ .header-info-inner {
  margin-left: -50px;
  margin-bottom: -3px;
}
#user-profile-modal .header .header-info .profile-badge.badge-staff ~ .header-info-inner {
  margin-left: -40px;
  margin-botton: -3px;
}
#user-profile-modal .header .actions button {
  margin-left: -21px;
  position: absolute;
  top: 0;
  border-radius: 0 0 10px 10px;
  transition: background 0.2s, border-radius 0.2s, top 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}
#user-profile-modal .header .actions button.add-friend {
  background: #7289da;
}
#user-profile-modal .header .actions button.add-friend:hover {
  background: #a1b0e6;
}
#user-profile-modal .header .actions button.disabled {
  border-radius: 10px 10px 0 0;
  opacity: 1;
  background: #232323;
  color: #fff;
  border: none;
  top: 516px;
}
#user-profile-modal .header .actions button.disabled:hover {
  background: #171717;
}
#user-profile-modal .header .additional-actions-icon {
  background-image: url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/menu-down.svg");
  background-size: 150%;
  padding: 0;
  right: 28px;
  top: 28px;
  border-radius: 50px;
  filter: invert();
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.2s;
}
#user-profile-modal .header .additional-actions-icon:hover {
  opacity: 0.75;
}
#user-profile-modal .header .additional-actions-icon.popout-open {
  opacity: 1;
  transform: rotateZ(-90deg);
}
#user-profile-modal .tab-bar-container {
  border: none;
}
#user-profile-modal .tab-bar-container .tab-bar.TOP {
  margin-left: -185px;
}
#user-profile-modal .tab-bar-container .tab-bar.TOP .tab-bar-item {
  color: rgba(255,255,255,0.5);
  border: none;
  transition: color 0.2s;
}
#user-profile-modal .tab-bar-container .tab-bar.TOP .tab-bar-item:hover {
  color: rgba(255,255,255,0.75);
}
#user-profile-modal .tab-bar-container .tab-bar.TOP .tab-bar-item.selected {
  color: #fff;
  background-image: linear-gradient(to top, #fff 5%, transparent 10%);
}
#user-profile-modal .avatar-wrapper {
  left: 0;
  top: 28px;
  margin-left: 356px;
}
#user-profile-modal .avatar-wrapper .avatar-profile .status {
  height: 128px;
  width: 128px;
  border: none;
  left: 0px;
  top: 0px;
  background: transparent;
}
#user-profile-modal .avatar-wrapper .avatar-profile .status.status-online {
  border: solid 5px #43b581;
}
#user-profile-modal .avatar-wrapper .avatar-profile .status.status-idle {
  border: solid 5px #faa61a;
}
#user-profile-modal .avatar-wrapper .avatar-profile .status.status-dnd {
  border: solid 5px #f04747;
}
#user-profile-modal .avatar-wrapper .avatar-profile .status.status-offline {
  border: solid 5px #747f8d;
}
#user-profile-modal .guilds .section {
  border: none !important;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account {
  border-radius: 50px;
  border: none;
  background: rgba(0,0,0,0.25);
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-name {
  color: #fff;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-verified-icon {
  background-image: url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/checkbox-marked-circle-outline.svg");
  filter: invert();
  background-size: 16px 16px;
  opacity: 0.5;
  transition: opacity 0.2s;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account .connected-account-name-inner .connected-account-verified-icon:hover {
  opacity: 1;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account a .connected-account-open-icon {
  background-image: url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/link.svg");
  filter: invert();
  background-size: 125%;
  opacity: 0.5;
  transition: opacity 0.2s;
}
#user-profile-modal .guilds .section .connected-accounts .connected-account a .connected-account-open-icon:hover {
  opacity: 1;
}
#user-profile-modal .guilds .section .section-header {
  color: #fff;
}
#user-profile-modal .guilds .guild {
  transition: background 0.2s, color 0.2s, padding 0.2s;
}
#user-profile-modal .guilds .guild .guild-inner .guild-name {
  color: rgba(255,255,255,0.5);
  transition: color 0.2s;
}
#user-profile-modal .guilds .guild .guild-inner .guild-name .disciminator {
  opacity: 1;
  color: rgba(255,255,255,0.5);
  transition: color 0.2s;
}
#user-profile-modal .guilds .guild .guild-inner .guild-nick {
  color: rgba(255,255,255,0.25);
  transition: color 0.2s;
}
#user-profile-modal .guilds .guild:hover {
  background: rgba(255,255,255,0.25);
  padding-left: 28px;
}
#user-profile-modal .guilds .guild:hover .guild-inner .guild-name {
  color: #fff;
}
#user-profile-modal .guilds .guild:hover .guild-inner .guild-name .discriminator {
  opacity: 1;
  color: rgba(255,255,255,0.75);
}
#user-profile-modal .guilds .guild:hover .guild-inner .guild-nick {
  color: rgba(255,255,255,0.75);
}
#user-profile-modal .guilds::-webkit-scrollbar {
  display: none;
}
/* Settings */
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller {
  background: linear-gradient(-110deg, #48227d 0%, #2f569c 100%);
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card {
  border-radius: 100px;
  background: rgba(0,0,0,0.25);
  border: solid 2px rgba(0,0,0,0.25);
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card button {
  border-radius: 50px;
  background-color: #4087ed;
  transition: background-color 0.2s;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card button:hover {
  background-color: #609bf0;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card .ui-flex ~ button {
  margin-right: 28px;
  top: 54px;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) h5 {
  color: #fff;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) .ui-form-text {
  color: rgba(255,255,255,0.75);
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) .ui-form-text span {
  opacity: 1 !important;
  color: rgba(255,255,255,0.5);
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing {
  border-radius: 70px;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) input {
  border: none;
  border-radius: 50px;
  font-family: Muli;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) button {
  height: 32px;
  padding: 2px 16px;
  top: 32px;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(1) .ui-flex-child:nth-child(2) button .ui-button-contents {
  background-image: none;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-form-divider {
  display: none;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(3) {
  margin-right: 45px;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(3) .ui-flex-child:nth-child(1) div button {
  background-color: transparent;
  border: solid 2px #ed3f3f;
  font-weight: bold;
  color: #ed3f3f;
  height: 32px;
  padding: 2px 16px;
  transition: background-color 0.2s, color 0.2s;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(3) .ui-flex-child:nth-child(1) div button:hover {
  background-color: #ed3f3f;
  color: #fff;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-account .flex-vertical .ui-card.user-info-editing .ui-flex:nth-child(3) .ui-flex-child:nth-child(1) div button .ui-button-contents {
  background-image: none;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-security div .ui-form-section .ui-flex button {
  border-radius: 50px;
  background-color: #4087ed;
  transition: background-color 0.2s;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-security div .ui-form-section .ui-flex button:hover {
  background-color: #609bf0;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-security div .ui-form-section .ui-flex .ui-flex-child:nth-child(2) button {
  background-color: transparent;
  border: solid 2px #ed3f3f;
  font-weight: bold;
  color: #ed3f3f;
  transition: background-color 0.2s, color 0.2s;
}
.ui-standard-sidebar-view .content-region .scroller-wrap .scroller .user-settings-security div .ui-form-section .ui-flex .ui-flex-child:nth-child(2) button:hover {
  background-color: #ed3f3f;
  color: #fff;
}
/* Message Wrapper */
.chat .content div:nth-child(1) .messages-wrapper .messages .message .body .message-text .markup,
.chat .content div:nth-child(1) .messages-wrapper .messages .message .body .message-text .markup *,
.chat .content div:nth-child(1) .messages-wrapper .messages .message .accessory .embed-wrapper .embed-content .embed-content-inner *,
.chat .content div:nth-child(1) .messages-wrapper .messages .message .accessory .embed-wrapper .embed-footer,
.chat .content div:nth-child(1) .messages-wrapper .messages .message .accessory .embed-wrapper .embed-inner *,
.chat .content div:nth-child(1) .messages-wrapper .messages .message .accessory .embed-wrapper .embed * {
  font-family: Muli;
}
.chat .content div:nth-child(1) .messages-wrapper .messages .message.first .timestamp {
  float: right;
  color: rgba(255,255,255,0.5);
  background: url("https://cdn.rawgit.com/twitter/twemoji/gh-pages/svg/1f552.svg") no-repeat;
}
.chat .content div:nth-child(1) .messages-wrapper .messages .message.first .timestamp::before {
  content: '🕐 ';
  color: transparent;
}
.chat .content div:nth-child(1) .messages-wrapper .messages .edit-message .edit-container-outer .edit-container-inner .channel-textarea .channel-textarea-inner textarea {
  font-family: Muli;
}
.chat .content div:nth-child(1) form {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 7px 10px 15px;
}
.chat .content div:nth-child(1) form .channel-textarea {
  margin-top: 10px;
  margin-bottom: 0;
}
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner {
  border-radius: 50px;
  background: #282b30;
  border: none;
}
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner textarea {
  background: transparent !important;
  font-family: Muli;
}
.chat .content div:nth-child(1) form .channel-textarea .channel-textarea-inner .channel-textarea-upload {
  border: none;
}
.chat .content div:nth-child(1) form .typing {
  position: absolute;
  top: -5px;
}
.chat .content div:nth-child(1) form .typing .ellipsis {
  display: none;
}
.chat .content div:nth-child(1) form .typing .text {
  margin: auto;
}
