@import url('https://fonts.googleapis.com/css?family=Comfortaa|Inconsolata|Muli');

// Variables
$dark-1 = #2E2E2E;
$online = #43B581;
$away = #FAA61A;
$dnd = #F04747;
$invis = #747F8D;
$blue = #4087ED;
$blue-hover = #609BF0;
$red = #ed3f3f;
$white-lvl-1 = rgba(255, 255, 255, 0.75);
$white-lvl-2 = rgba(255, 255, 255, 0.5);
$white-lvl-3 = rgba(255, 255, 255, 0.25);
$black-lvl-1 = rgba(0, 0, 0, 0.75);
$black-lvl-2 = rgba(0, 0, 0, 0.5);
$black-lvl-3 = rgba(0, 0, 0, 0.25);
$asyntric = #68217A;
$blurple = #7289DA;
$greyple = #99AAB5;
$blurple-dark = #39456D;
$verified-icon = url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/checkbox-marked-circle-outline.svg");
$link = url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/link.svg");
$menu-arrow = url("https://cdn.rawgit.com/Templarian/MaterialDesign/423bb328/icons/svg/menu-down.svg");

*,
h2 {
    font-family: Comfortaa;
}

h5 {
    font-family: Comfortaa !important
}

button {
    font-family: Muli;
}

code,
pre,
.hljs * {
    font-family: Inconsolata !important;
}

.emoji {
    height: 24px;
    width: 24px;

    &.jumboable {
        height: 48px;
        width: 48px;
    }
}

$textarea {
    color: $white-lvl-2;
    transition: background 0.2s, color 0.2s;
    &:focus {
        background: $black-lvl-2;
        color: #FFF;
        &::-webkit-input-placeholder {
            color: $white-lvl-1
        }
    }
    &::-webkit-input-placeholder {
        color: $white-lvl-2;
        transition: color 0.2s;
    }
}

/* User Popout */
.theme-dark .popout {
    box-shadow: none;
}

.user-popout {
    border-radius: 25px;
    & .header,
    & .body,
    & .footer {
        background: $blurple-dark;
    }
    & .header {
        & .avatar-wrapper  {
            & .avatar-popout {
                border: none;
                background-color: $blurple-dark;
                width: 45px;
                height: 45px;
                background-size: 45px 45px;
                margin-left: -113px;
                margin-top: -10px;
                transition: box-shadow 0.2s;
                & .status {
                    width: 45px;
                    height: 45px;
                    border-radius: 50px;
                    box-shadow: none;
                    left: -113px;
                    top: -10px;
                    background: transparent;
                    &.status-online {
                        border: solid 3px $online;
                    }
                    &.status-idle {
                        border: solid 3px $away;
                    }
                    &.status-dnd {
                        border: solid 3px $dnd;
                    }
                    &.status-offline {
                        border: solid 3px $invis;
                    }
                }
                &:hover {
                    box-shadow: inset 0 0 25px 5px #212121;
                }
            }
            & .avatar-hint {
                display: none;
            }
        }
        & .username-wrapper:not(.has-nickname) {
            & .discord-tag {
                margin-top: -46px;
                text-align: left;
                padding-left: 69px;
                & .username {
                    color: #FFF;
                }
                & .discriminator {
                    color: $white-lvl-1;
                }
            }
            & .activity {
                text-align: left;
                margin-left: 12px;
                margin-right: 24px;
                margin-top: 19px;
                visibility: hidden;
                letter-spacing: -8px;
                color: $white-lvl-1
                & strong {
                    visibility: visible;
                    letter-spacing: 0px;
                    &::before {
                        content: 'Playing - ';
                    }
                }
            }
        }
        & .username-wrapper.has-nickname {
            & .nickname {
                margin-top: -53px;
                text-align: left;
                padding-left: 69px;
                color: #FFF;
            }
            & .discord-tag {
                text-align: left;
                padding-left: 69px;
                margin-top: -10px;
                & .username {
                    color: $white-lvl-1;
                }
                & .discriminator {
                    color: $white-lvl-2
                }
            }
            & .activity {
                text-align: left;
                margin-left: 12px;
                margin-right: 24px;
                margin-top: 6px;
                visibility: hidden;
                letter-spacing: -8px;
                color: $white-lvl-1
                & strong {
                    visibility: visible;
                    letter-spacing: 0px;
                    &::before {
                        content: 'Playing - ';
                    }
                }
            }
        }
    }
    & .body {
        & .notes {
            & .label {
                color: #FFF;
                & .icon {
                    display: none;
                }
            }
            & .note textarea {
                @extends $textarea;
            }
        }
        & .roles {
            & .label {
                color: #FFF;
                & .icon {
                    display: none;
                }
            }
            & .member-roles {
                & .member-role:not(.member-role-add) {
                    background: #232323;
                    border: none !important;
                    border-radius: 50px;
                    color: #FFF;
                    & button {
                        filter: brightness(200%);
                    }
                }
                & .member-role.member-role-add {
                    background: #232323;
                    border: none;
                    border-radius: 50px;
                    & button {
                        filter: brightness(200%);
                    }
                }
            }
        }
    }
    & .footer {
        border: none;
        & .quick-message-wrapper .quick-message {
            @extends $textarea;
            background: $black-lvl-3;
            border: none;
            border-radius: 50px;
            font-family: Muli;
        }
        & .update-notice {
            display: none;
        }
    }
}

/* Profile Modal */
#user-profile-modal {
    border-radius: 50px;
    & .header,
    & .header::after,
    & .tab-bar-container,
    & .scroller-wrap .guilds,
    & .empty,
    & .avatar-wrapper {
        background: $dark-1;
    }
    & .header {
        & .header-info {
            & .header-info-inner {
                margin-left: -187px;
                margin-bottom: -3px;
                & .discord-tag {
                    & .username {
                        color: #FFF;
                    }
                    & .discriminator {
                        color: $white-lvl-1;
                    }
                }
                & .activity {
                    color: $white-lvl-1;
                }
            }
            & .profile-badge.badge-partner {
                margin-bottom: -105px;
                margin-left: -187px;
            }
            & .profile-badge.badge-premium,
            & .profile-badge.badge-staff {
                margin-bottom: -85px;
                margin-left: -187px;
            }
            & .profile-badge ~ .header-info-inner {
                margin-left: -50px;
                margin-bottom: -3px;
            }
            & .profile-badge.badge-premium ~ .header-info-inner {
                margin-left: -50px;
                margin-bottom: -3px;
            }
            & .profile-badge.badge-staff ~ .header-info-inner {
                margin-left: -40px;
                margin-botton: -3px;
            }
        }
        & .actions button {
            margin-left: -21px;
            position: absolute;
            top: 0;
            border-radius: 0 0 10px 10px;
            transition: background 0.2s, border-radius 0.2s, top 0.375s cubic-bezier(0.4, 0.0, 0.2, 1);;
            &.add-friend {
                background: $blurple;
                &:hover {
                    background: #A1B0E6;
                }
            }
            &.disabled {
                border-radius: 10px 10px 0 0;
                opacity: 1;
                background: #232323;
                color: #FFF;
                border: none;
                top: 516px;
                &:hover {
                    background: #171717;
                }
            }
        }
        & .additional-actions-icon {
            background-image: $menu-arrow;
            background-size: 150%;
            padding: 0;
            right: 28px;
            top: 28px;
            border-radius: 50px;
            filter: invert();
            opacity: 0.5;
            transition: transform 0.2s, opacity 0.2s;
            &:hover {
                opacity: 0.75;
            }
            &.popout-open {
                opacity: 1;
                transform: rotateZ(-90deg);
            }
        }
    }
    & .tab-bar-container {
        border: none;
        & .tab-bar.TOP {
            margin-left: -185px;
            & .tab-bar-item {
                color: $white-lvl-2;
                border: none;
                transition: color 0.2s;
                &:hover {
                    color: $white-lvl-1;
                }
                &.selected {
                    color: #FFF;
                    background-image: linear-gradient(to top, #FFF 5%, transparent 10%);
                }
            }
        }
    }
    & .avatar-wrapper {
        left: 0;
        top: 28px;
        margin-left: 356px;
        & .avatar-profile .status {
            height: 128px;
            width: 128px;
            border: none;
            left: 0px;
            top: 0px;
            background: transparent;
            &.status-online {
                border: solid 5px $online;
            }
            &.status-idle {
                border: solid 5px $away;
            }
            &.status-dnd {
                border: solid 5px $dnd;
            }
            &.status-offline {
                border: solid 5px $invis;
            }
        }
    }
    & .guilds {
        & .section {
            border: none !important;
            & .connected-accounts .connected-account {
                border-radius: 50px;
                border: none;
                background: $black-lvl-3;
                & .connected-account-name-inner {
                    & .connected-account-name {
                        color: #FFF;
                    }
                    & .connected-account-verified-icon {
                        background-image: $verified-icon;
                        filter: invert();
                        background-size: 16px 16px;
                        opacity: 0.5;
                        transition: opacity 0.2s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                & a .connected-account-open-icon {
                    background-image: $link;
                    filter: invert();
                    background-size: 125%;
                    opacity: 0.5;
                    transition: opacity 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            & .section-header {
                color: #FFF;
            }
            & .note textarea {
                @extends $textarea;
            }
        }
        & .guild {
            transition: background 0.2s, color 0.2s, padding 0.2s;
            & .guild-inner {
                & .guild-name {
                    color: $white-lvl-2;
                    transition: color 0.2s;
                    & .disciminator {
                        opacity: 1;
                        color: $white-lvl-2;
                        transition: color 0.2s;
                    }
                }
                & .guild-nick {
                    color: $white-lvl-3;
                    transition: color 0.2s;
                }
            }
            &:hover {
                background: $white-lvl-3;
                padding-left: 28px;
                & .guild-inner {
                    & .guild-name {
                        color: #FFF;
                        & .discriminator {
                            opacity: 1;
                            color: $white-lvl-1;
                        }
                    }
                    & .guild-nick {
                        color: $white-lvl-1;
                    }
                }
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/* Message Wrapper */
.chat {
    & .content div:nth-child(1) {
        & .messages-wrapper .messages {
            & .message {
                & .body .message-text .markup,
                & .body .message-text .markup *,
                & .accessory .embed-wrapper .embed-content .embed-content-inner *,
                & .accessory .embed-wrapper .embed-footer,
                & .accessory .embed-wrapper .embed-inner *,
                & .accessory .embed-wrapper .embed * {
                    font-family: Muli;
                }
                &.first .timestamp {
                    float: right;
                    color: rgba(255, 255, 255, 0.5);
                    background: url(https://cdn.rawgit.com/twitter/twemoji/gh-pages/svg/1f552.svg) no-repeat;

                    &::before {
                        content: '🕐 ';
                        color: transparent;
                    }
                }
            }            
            & .edit-message {
                & .edit-container-outer .edit-container-inner .channel-textarea .channel-textarea-inner textarea {
                    font-family: Muli;
                }
            }
        }
    }
}